%font-stack-NotoSans {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
$colorBackground__dark: #392b3c;
$colorBackground_textForDark: wheat;
$colorBackground__light: rgb(231, 224, 209);
$colorBackground__lightest: rgba(231, 224, 209, 0.1);
$colorBackground_textForlight: $colorBackground__dark;
$color_inputBorder: rgb(255, 167, 3);
$colorBackground__slider: #392b3c;
$colorBackground__slider__card: #ffffff;
$colorText__slider: #000000;
$colorBorder__card: #dbdbdb;
$colorBackground__card: $colorBackground__light;
