@import "../extends.scss";


.countryCard {
  width: 290px;
  height: 360px;
  background-color: $colorBackground__card;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $colorBackground_textForlight;
  border-radius: 5px;
  border: 0.1px solid $colorBorder__card;
  margin: 10px auto 10px;
  .countryCard_image {
    width: 100%;
    height: 290px;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    border-radius: 5px 5px 0 0;
  }
  h2,
  h3 {
    margin-top: 0.5em;
  }
  transition: all 0.5s;
}
.countryCard:hover {
  cursor: pointer;
  box-shadow: 0 0 50px $colorBorder__card; 
  h2,
  h3 {
    margin-top: 0.5em;
  }
  transition: all 0.5s;
}
